{% extends 'base.html.twig' %}

{% block body %}
    <h1>Welcome WCS!</h1>
    <img src="http://33.media.tumblr.com/6a13105d0b76bd72804ece9875ded975/tumblr_n4yk3fxmhC1rb2l1co1_400.gif">
{% endblock %}